.about-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.about-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
	z-index: 999;
}

.about-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.about-main {
	display: flex;
}

.about-right-side {
	flex-basis: 900px;
}

.about-title {
	width: 100% !important;
}

.about-subtitle {
	width: 80% !important;
}

.about-left-side {
	display: flex;
	flex-direction: column;
	flex-basis: 300px;
}

.about-image-container {
	width: 370px;
}

.about-image-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	border-radius: 10%;
	transform: rotate(3deg);
}

.about-image-wrapper img {
	display: block;
	width: 100%;
}

.about-socials {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-socials-mobile {
	display: none;
}

@media (max-width: 1024px) {
	.about-logo {
		z-index: 100;
	}

	.about-main {
		flex-direction: column;
	}

	.about-subtitle {
		padding-top: 20px !important;
	}

	.about-left-side {
		flex-basis: 100%;
		order: 1;
	}

	.about-right-side {
		flex-basis: 100%;
		order: 2;
	}

	.about-image-container {
		padding-bottom: 40px;
	}

	.about-socials {
		display: none;
	}

	.about-socials-mobile {
		padding-top: 30px;
		display: flex;
	}
}

@media (max-width: 600px) {
	.about-container {
		padding-top: 60px;
	}

	.about-image-container {
		width: 80%;
	}
}

.about-skills {
	padding: 0px 20px; /* Adjust padding to provide spacing around the content */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box-shadow for shadow type border */
	border-radius: 8px; /* Optional: Add border-radius for rounded corners */
	background-color: #ffffff; /* Optional: Add background color */
	max-width: 400px; /* Example: Set a max-width to contain the skills section */
	margin: 0 auto; /* Example: Center the skills section horizontally */
	margin-left: 0px;
  }
  
  .about-skills h3 {
	font-size: 1.2em; /* Example: Adjust font size */
  }
  
  .about-skills ul {
	list-style-type: none; /* Example: Remove default list style */
	padding-left: 0; /* Example: Remove default padding */
  }
  
  .about-skills li {
	margin-bottom: 5px; /* Example: Adjust margin between list items */
  }

  .skills-slider {
	height: 350px;
	overflow: hidden;
	margin-top: 10px;
  }
  
  .skill-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	font-size: 1rem;
	border-bottom: 1px solid #ccc;
	color: #333;
  }
  
  
  
