  .store-logo-container {
    display: flex;
    justify-content: left;
    padding-top: 25px;
  }
  
  .store-logo {
    display: flex;
    position: fixed;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    top: 4vh;
    z-index: 999;
  }
  
  .store-container {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    max-width: 800px; /* Adjust max-width as needed */
  }
  
  .store-main {
    display: flex;
  }
  
  .store-right-side {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .store-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .store-subtitle {
    margin-bottom: 20px;
  }
  
  .store-left-side {
    flex: 1;
    margin-left: 20px; /* Adjust margin as needed */
  }
  
  .store-image-container {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .store-image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .whoop-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .whoop-section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .whoop-workout-list {
    list-style: none;
    padding: 0;
  }
  
  .whoop-workout-item {
    margin-bottom: 8px;
    font-size: 0.95rem;
  }
  
  
  @media (max-width: 768px) {
    .store-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .store-left-side {
      margin-left: 0;
      margin-top: 20px;
    }
  
    .store-right-side {
      width: 100%;
      margin-top: 20px;
    }
  }
  